# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environnements virtuels
.venv/
venv/

# VS Code
.vscode/

# Données volumineuses
*.csv
*.tsv
*.xlsx
*.xls
*.parquet
*.h5
*.zip
*.rar
*.7zgit remote set-url origin https://github.com/VicSchol/SchollerVictor_DataScientistMachineLearning_OC.git


# Office temp files
~$*.pptx
~$*.docx
~$*.xlsx
